<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/layout}">

<body>
<th:block layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Test
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>
    <section class="content container-fluid">

        <p>
            Welcome <span sec:authentication="principal.sapUser.name">user</span> to the Spring Boot Thymeleaf Application! <a href="/logout">Logout</a><br/>
            You are working with active company <span sec:authentication="principal.activeCompany.name">xxx</span><br/>
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
        <form action="/changeCompany" method="post">
            You can change the active company to any of
            <div class="form-group blu-margin">
                <select class="form-control"  id="company" name="company">
                    <option th:each="cmpy : ${#authentication.principal.sapUser.allowedCompanies}" th:value="${cmpy.name}" th:text="${cmpy.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Change Company</button>
        </form>
        </p>

    </section>

</th:block>
</body>
</html>