<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/layout}">

<body>
<th:block layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            New Orders
            <small>Most recent orders</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">New Orders</li>
        </ol>
    </section>
    <section class="content container-fluid">


            <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item">
                    <div class="list-view-pf-checkbox">
                        <input type="checkbox">
                    </div>
                    <div class="list-view-pf-actions">
                        <button class="btn btn-default">Action</button>
                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                            <span class="fa fa-plane list-view-pf-icon-sm"></span>
                        </div>
                        <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                                <div class="list-group-item-heading">
                                    Event One
                                </div>
                                <div class="list-group-item-text">
                                    The following snippet of text is <a href="#">rendered as link text</a>.
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info">
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-blackboard"></span>
                                    <strong>8</strong> Hosts
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-th-list"></span>
                                    <strong>6</strong> Clusters
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-hdd"></span>
                                    <strong>10</strong> Nodes
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-tasks"></span>
                                    <strong>8</strong> Images
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-view-pf-checkbox">
                        <input type="checkbox">
                    </div>
                    <div class="list-view-pf-actions">
                        <button class="btn btn-default">Action</button>
                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight10">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                            <span class="fa fa-magic list-view-pf-icon-sm"></span>
                        </div>
                        <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                                <div class="list-group-item-heading">
                                    Event Two
                                </div>
                                <div class="list-group-item-text">
                                    The following snippet of text is <a href="#">rendered as link text</a>.
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info">
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-blackboard"></span>
                                    <strong>4</strong> Hosts
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-th-list"></span>
                                    <strong>2</strong> Clusters
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-hdd"></span>
                                    <strong>11</strong> Nodes
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-tasks"></span>
                                    <strong>6</strong> Images
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-view-pf-checkbox">
                        <input type="checkbox">
                    </div>
                    <div class="list-view-pf-actions">
                        <button class="btn btn-default">Action</button>
                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight11">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                            <span class="fa fa-gamepad list-view-pf-icon-sm"></span>
                        </div>
                        <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                                <div class="list-group-item-heading">
                                    Event Three
                                </div>
                                <div class="list-group-item-text">
                                    The following snippet of text is <a href="#">rendered as link text</a>.
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info">
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-blackboard"></span>
                                    <strong>4</strong> Hosts
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-th-list"></span>
                                    <strong>2</strong> Clusters
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-hdd"></span>
                                    <strong>10</strong> Nodes
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-tasks"></span>
                                    <strong>6</strong> Images
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-view-pf-checkbox">
                        <input type="checkbox">
                    </div>
                    <div class="list-view-pf-actions">
                        <button class="btn btn-default">Action</button>
                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight12">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                            <span class="fa fa-linux list-view-pf-icon-sm"></span>
                        </div>
                        <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                                <div class="list-group-item-heading">
                                    Event Four
                                </div>
                                <div class="list-group-item-text">
                                    The following snippet of text is <a href="#">rendered as link text</a>.
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info">
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-blackboard"></span>
                                    <strong>4</strong> Hosts
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-th-list"></span>
                                    <strong>2</strong> Clusters
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-hdd"></span>
                                    <strong>10</strong> Nodes
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-tasks"></span>
                                    <strong>6</strong> Images
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-view-pf-checkbox">
                        <input type="checkbox">
                    </div>
                    <div class="list-view-pf-actions">
                        <button class="btn btn-default">Action</button>
                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight13">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                            <span class="fa fa-briefcase list-view-pf-icon-sm"></span>
                        </div>
                        <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                                <div class="list-group-item-heading">
                                    Event Five
                                </div>
                                <div class="list-group-item-text">
                                    The following snippet of text is <a href="#">rendered as link text</a>.
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info">
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-blackboard"></span>
                                    <strong>4</strong> Hosts
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-th-list"></span>
                                    <strong>2</strong> Clusters
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-hdd"></span>
                                    <strong>10</strong> Nodes
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-tasks"></span>
                                    <strong>6</strong> Images
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-view-pf-checkbox">
                        <input type="checkbox">
                    </div>
                    <div class="list-view-pf-actions">
                        <button class="btn btn-default">Action</button>
                        <div class="dropdown pull-right dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight14">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                            <span class="fa fa-coffee list-view-pf-icon-sm"></span>
                        </div>
                        <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                                <div class="list-group-item-heading">
                                    Event Six
                                </div>
                                <div class="list-group-item-text">
                                    The following snippet of text is <a href="#">rendered as link text</a>.
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info">
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-blackboard"></span>
                                    <strong>4</strong> Hosts
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-th-list"></span>
                                    <strong>2</strong> Clusters
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-hdd"></span>
                                    <strong>10</strong> Nodes
                                </div>
                                <div class="list-view-pf-additional-info-item">
                                    <span class="pficon glyphicon glyphicon-tasks"></span>
                                    <strong>6</strong> Images
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    // Row Checkbox Selection
                    $("input[type='checkbox']").change(function (e) {
                        if ($(this).is(":checked")) {
                            $(this).closest('.list-group-item').addClass("active");
                        } else {
                            $(this).closest('.list-group-item').removeClass("active");
                        }
                    });
                    // toggle dropdown menu
                    $('.list-view-pf-actions').on('show.bs.dropdown', function () {
                        var $this = $(this);
                        var $dropdown = $this.find('.dropdown');
                        var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find('.dropdown-menu').outerHeight(true);
                        $dropdown.toggleClass('dropup', space < 10);
                    });
                    // allow users to select multiple list items with shift key
                    $('.list-group').on('click', '.list-view-pf-checkbox>input', function(event) {
                        var $list = $('.list-group');
                        var prevIndex = $list.data('preIndex');
                        var $listItems = $list.children('.list-group-item');
                        var $currentItem = $(this).closest('.list-group-item');
                        if(event.shiftKey && prevIndex > -1 && this.checked) {
                            var currentIndex = $listItems.index($currentItem);
                            var $selectScope = currentIndex - prevIndex > 0
                                ? $currentItem.prevAll().not($listItems.eq(prevIndex).prevAll().addBack())
                                : $listItems.eq(prevIndex).prevAll().not($currentItem.prevAll().addBack());
                            $selectScope.addClass('active').find('.list-view-pf-checkbox').children('input').prop('checked', true);
                        }
                        $list.data('preIndex', this.checked ? $listItems.index($currentItem) : -1);
                    });

                });
            </script>
        </div>






    </section>

</th:block>

<th:block layout:fragment="modals">
</th:block>

<th:block layout:fragment="scripts">
    <script>
        $('#menu_orders').addClass('active');
    </script>
</th:block>

</body>
</html>